name: "ci"
on: pull_request

jobs:
  format:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: rustfmt check
        uses: actions-rust-lang/rustfmt@v1
